*{
    margin: 20px;
    padding: 30px;
    font-size: 26px;
    font-family: sans-serif;
    box-sizing: border-box;
    color: black;
    background-color: rgb(32, 104, 104);
  }
  
  body{
    width: 80%;
    margin: 20px auto;
  }
  
  form{
    border: 1px solid rgb(53, 48, 48);
  }
  
  form > div{
    margin: 30px 20px;
  }
  
  label{
    display: block;
    margin-bottom: 8px;
  }
  
  
  input{
    height: 10px;
    width: 40%;
  }
  
  button{
    margin-left: 20px;
    margin-bottom: 40px;
    padding: 10px 32px;
    cursor: pointer;
  }
  
  
  .message-error{
    border: 1px solid red;
    color: red;
    background-color: brown;
    padding: 16px 32px;
    margin-bottom: 20px;
    display: none;
  }
  
  .message-success{
    border: 1px solid green;
    color: green;
    background-color: greenyellow;
    padding: 16px 32px;
    margin-bottom: 20px;
    display: none;
  }
  
  .message-success.visible {
    display: block;
  }
  
  
  .success{
    border: 1px solid green;
    background-color: greenyellow;
  }